.calendar-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px;
  background: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
}

.section-title {
  margin-top: 20px;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
}

.input, .textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: #0056b3;
}

.events-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.event-title {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.event-description {
  margin: 0;
  color: #666;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 12px;
}

.delete-all-button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-all-button:hover {
  background: #cc0000;
}
.AppContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 100px);
  overflow: visible;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9ecef;
}